<!DOCTYPE html>
<html>
<head>
    <title>Shortlink App</title>
    <link rel="stylesheet" type="text/css" href="../css/compiled/styles.css">
</head>
<body>
    <div class="container">
        <h1>shortlink app</h1>
        <form method="post">
            <input type="text" value="<%= h(params[:url]) %>" name="url" id="url" />
            <input type="submit" value="shorten" id="submit" />
        </form>
        <div class="clear"></div>
        <% if @shortcode %>
        <div class="result">
            Your shortened URL is:
            <a href="http://localhost:4567/<%= @shortcode %>">http://s.com/<%= @shortcode %></a>
        </div>
        <% end %>
    </div>
</body>